*{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --footer-height: 4.5rem;
}

hr{
    margin: 1rem;
    border: 0.5px solid #e4e4e4;
}

.sidebar-divide{
    border: 0.5px solid #3A3A3A;
}

.main-page-container{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.navbar-user{
    display: flex;
    flex-direction: column;
    height: max-content;
}

.navbar-user img{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.navbar-user-text{
    font-size: 12px;
    font-weight: 200;
    color: white;
    text-align: center;
}

.navbar-footer{
    margin: 1.2rem;
}

.side-menu{
    background-color: #252525;
    height: calc(100% - var(--footer-height));
    width: 20%;
    border-radius: 15px;
    margin: 10px;
    min-width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 10px;
}

.side-menu-links{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.side-menu-button{
    display: flex;
    height: 3.5rem;
    list-style: none;
    align-items: center;
    font-size: 14px;
    font-weight: 200;
    width: 90%;
    border-radius: 0.75rem;
}

.side-menu-button:hover{
    background-color: #3A3A3A;
    transition: all 0.3s ease;
}

.selected{
    background-color: #3A3A3A;
}

.side-menu-button a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 1rem;

    width: 100%;
    height: 100%;
}

.side-menu-button span{
    color: white;
    margin-left: 15px;
}

.side-menu-button img{
    height: 20px;
    max-height: 25px;
    width: 25px;
}

.main-content-area{
    width: 100%;
    min-height: 100%;
    border-radius: 15px;
    background-color: #F4F4F4;
    margin: 10px;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
}

.main-content-body {
    flex: 1;
}

.greet-search-area{
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
}

.user-greet{
    display: flex;
    flex-direction: column;
}


.greet-title-text{
    font-size: 24px;
    font-weight: 700;
    margin: 15px 25px 5px 25px;
    color: #252525;
}

.greet-text{
    font-size: 12px;
    font-weight: 300;
    margin: 5px 25px 15px 25px;
    color: #3A3A3A;
}

.greet-subheading{
    font-size: 14px;
    font-weight: 300;
    margin: 5px 25px 15px 25px;
    color: #3A3A3A;
}

.search-bar{
    display: inline-flex;
    align-items: center;
    width: 50%;
}

.search-input{
    outline: none;
    border: 1px solid #e4e4e4;
    width: 100%;
    height: 3rem;
    border-radius: 25px;
    margin: 15px;
    padding: 0 25px 0 25px;
    background-color: #ffffff;
}

.search-icon{
    height: 20px;
    width: 25px;
}

.notifications-bar{
    display: inline-flex;
    align-items: center;
    width: 10%;
}

.notifications-bar a{
    border: 1px solid #e4e4e4;
    display: flex;
    border-radius: 25px;
    height: 3rem;
    width: 3rem;
}

.notifications-bar a:hover{
    background-color: #e4e4e4;
    transition: all 0.3s ease;
}

.notification-icon{
    height: 20px;
    width: 25px;
    margin: auto;
}

.your-courses-text{
    display: flex;
    flex-direction: column;
}

.your-courses{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    padding-bottom: 2rem;
    padding-left: 2rem;
    overflow-x: auto;
}

.course{
    display: flex;
    flex-direction: column;
    width: calc(100% / 6);
    align-items: center;
    background-color: var(--col);
    border-radius: 15px;
    padding: 1rem;
    transition: all 0.3s ease;

    flex: 0 0 auto;
}

.course:hover{
    transition: all 0.3s ease;
    transform: scale(0.95);
}

.course a{
    text-decoration: none;
    color: #252525;
}

.course-img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 15px;
}

.course-name{
    font-size: 18px;
    font-weight: 700;
    margin-top: 1rem;
    text-align: center;
}

.course-students{
    font-size: 12px;
    font-weight: 300;
    color: #3A3A3A;
    text-align: center;
}

.footer-container {
    display: flex;
    gap: 1.5rem;
    height: var(--footer-height);
    background-color:#252525;
    border-radius: 0 0 25px 25px;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem 0.75rem 1rem;
}

.footer-area {
    flex: 1;
    height: 100%;
    display: flex;
}

.footer-area span{
    color: #fff;
    font-size: 12px;
    font-weight: 200
}

.footer-area img{
    max-width:100%;
    max-height:100%;
    width: auto;
}

.footer-links{
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    margin: auto;
}

.footer-link{
    list-style: none;
}

.footer-link a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 200;
}

.footer-link a:hover{
    color: #e4e4e4;
}

.flex-right {
    justify-content: flex-end;
}

.footer-logout {
    text-align: right;
}

.your-courses-header {
    display: flex;
    justify-content: space-between;
}

.dashboard-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.your-courses-area {
    flex: 0 0 auto;
}

.upcoming-area {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.calendar-area {
    border-radius: 15px;
    background-color: white;
    margin: 1rem;
    margin-top: 0;
    padding: 0.5rem;
    table-layout: fixed;
}

.calendar {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: min-content [day-bar-start] repeat(5, 1fr) [day-bar-end];
    grid-template-rows: [header] 1rem repeat(7, 2rem);
    row-gap: 0.5rem;
}

.calendar-day-name {
    padding-right: 0.5rem;
    margin: auto 0;
    font-size: 12px;
    font-weight: 200;
}

.calendar-day-bar {
    position: relative;
    padding: 0.1rem 0;
    border-left: 1px grey solid;
    grid-column: day-bar-start / day-bar-end;
}

.calendar-day-bar-inner {
    transform: scale(0.9);
    position: absolute;
    height: 100%;
    left: var(--p-startpos);
    width: var(--p-len);
    background-color: var(--col);
    border-radius: 15px;
    padding: 0 0.5rem;

    display: flex;
    font-size: small;
    justify-content: space-between;
    align-items: center;
}

.calendar-day-bar-inner > p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calendar-header-mbar {
    display: flex;
}

.calendar-header-marking {
    flex: 1 0 auto;
    font-size: x-small;
}

.calendar-header-vbar {
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    grid-column: var(--vbar-col);
    grid-row: 2 / -1;
    background-color: grey;
}

.tooltip-text {
    visibility: hidden;
    bottom: 110%;
    left: 50%;
    padding: 0.5rem;

    transform: translateX(-50%);

    white-space: nowrap;
    background-color: #252525;
    color: white;

    position: absolute;
    z-index: 1;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;

    transform: translateX(-50%);

    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.calendar-buttons {
    margin-right: 1rem;
    display: flex;

    align-items: center;
}

.calendar-buttons-inner {
    position: relative;
    height: 2rem;
    width: 4rem;

    border-radius: 15px;
    overflow: hidden;

    background-color: #fefefe;

    display: flex;
}

.button-prev, .button-next {
    flex: 1;
}

.button-prev > button, .button-next > button {
    height: 100%;
    width: 100%;
    border: 0;
    background: none;
}

.button-prev > button:hover, .button-next > button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.course-intro{
    display: flex;
    flex-direction: column;
}

.course-banner-container{
    padding: 5px 25px 15px 25px;
}

.course-banner{
    width: 100%;
    height: 20rem;
    border-radius: 15px;
    object-fit: cover;
}

.course-description{
    display: flex;
}


/* Tabs Part */

.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }
  
  .tabset .tab-panel {
    display: none;
  }
  
  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3){
    display: block;
  }
  

  
  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
  }
  
  .tabset > label::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 5px;
    background: black;
  }
  
  .tabset > label:hover,
  .tabset > input:focus + label {
    color: #6e6e6e;
  }
  
  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    background: #6e6e6e;
  }
  
  .tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
  }

  .tab-panel h3{
    margin-left: 25px;
  }

  .tab-panel p{
      font-size: 14px;
      font-weight: 300;
      margin: 25px;
  }
  
  .tabset {
    max-width: 65em;
    margin-left: 25px;
  }

  .tabs-container{
      background-color:#252525;
  }

.instructor-description{
    background: #252525;
    border-radius: 15px;
    margin: 15px 25px 25px 25px;
    color: white;
    max-width: 20rem;
    padding: 25px
}

.instructor-description h3{
    margin-bottom: 15px;
}

.instructor-description p{
    font-size: 14px;
    font-weight: 300;
}

  .instructor-image{
      width: 3rem;
      height: 3rem;
      margin: auto 15px auto 0;
    background-color: #3A3A3A;
    border-radius: 50%;
    padding: .33rem;
  }

  .instructor-profile{
      display:flex;
      margin-bottom: 15px;
  }

  .instructor-name{
    font-weight: 700;
  }

  .instructor-faculty{
      font-size: 12px;
      font-weight: 300;
  }
  
  .instructor-info{
      margin: auto;
      margin-left: 0;
  }

.announcement-container{
    min-width: 50%;
}

.announcement-header{
    display: flex;
    margin: 25px;
    border-bottom: 1px solid #ccc;
    border-radius: 15px;
    background-color: #252525;
    color: white;
}

.announcement-header span{
    padding: 1rem;
    font-size: 14px;
    font-weight: 300;
}

.announcement{
    display: flex;
    margin: 25px;
    border-bottom: 1px solid #ccc;
}

.announcement span,.announcement a{
    padding: 0 1rem 1rem 1rem;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: #252525;
    transition: 0.1s ease-in;
}

.announcement a:hover{
    color: #ccc;
    transition: 0.1s ease-in;
}

.announcement-side{
    margin: 25px;
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    overflow: scroll;
}

.announcement-heading p{
    font-size: 12px;
    font-weight: 300;
    margin: 25px;
}
  
  .an-head{
      flex: 2;
  }

  .an-rest{
      flex: 1;
  }